<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SunPy Coordinated Package Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            SunPy Coordinated Package Dashboard
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="section">

        <div id="app" class="row columns is-multiline">
          <div v-for="card in cardData" key="card.id" class="column is-3">
            <div class="card large">
              <div class="card-content">
                <div class="media">
                  <div class="media-left" v-if="card.package.logo">
                    <figure class="image is-48x48">
                      <img :src="card.package.logo" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title no-padding">{{card.package.name}}</p>
                    <p :title="card.package.last_release" class="subtitle no-padding">{{card.package.version}}</p>
                  </div>
                </div>
                <div v-for="(build, branch) in card.branches" class="box" :class="statusBackground(build.build.status)" @click="toggleJob(card.package.name, branch)">
                  <a class="subtitle has-text-weight-bold has-text-black-ter" :href="build.build.url">{{branch}}</a>
                  <content style="display: none;" :id=`${card.package.name}${branch}`>
                    <ul class="pl-5 has-text-weight-bold has-text-black-ter" style="list-style-type: circle;">
                      <li :class="statusBackground(job.status)" v-for="job in build.build.jobs">
                        {{job.name}}
                      </li>
                    </ul>
                  </content>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Using Vue to populate cards to reduce redundant code -->
    <script>

     var app = new Vue({
         el: '#app',
         data: {
             cardData: [],
         },
         mounted() {
             var self = this
             $.getJSON("/api/dashboard", function(data) {
                 self.cardData = data;
             });
         },
         methods: {
             toggleJob(package, branch) {
                 let jobEl = document.getElementById(`${package}${branch}`)
                 jobEl.style.display = jobEl.style.display == "none" ? "block" : "none";
             },
             statusBackground(status) {
                 return {
                     'has-background-success': status == 'success',
                     'has-background-warning': status == 'out-of-date',
                     'has-background-danger': status == 'faliure',
                 }
             },
             statusText(status) {
                 return {
                     'has-text-success': status == 'success',
                     'has-text-warning': status == 'out-of-date',
                     'has-text-danger': status == 'faliure',
                 }
             },
             statusIcon(status) {
                 return {
                     'ion-checkmark-circle': status == 'success',
                     'ion-checkmark-circle': status == 'faliure',
                 }
             }
         }
     })
    </script>
  </body>

</html>
